h1, h2, h3,h5,form,div {
    text-align: center;
    color: #ffff;
}

.mat-raised-button {
    margin-top:10px;
}
h5 {
    font-size: xx-large;
}
p{
  font-size: large;
}


/* input {
    font-family: Calibri;
    color: #ffff;
    background-color: #d728ca00;
    font-size: 1.5vw;
    width: 13vw;
    padding: 0.5vw;
    height: 2.5vw;
    font-optical-sizing: 24;
    align-items: center;
    object-position: center;
    text-align: center;
} */
.select{
  width: 1vw;
  background-color: #b39a7e;
  overflow-y: clip;
  background-color: #b39a7e;
  color: white;
  text-align: center;
  background-color: #b39a7e;
}
.mat-select-panel, .mat-option{
  color: white;
  text-align: center;
  background-color: #b39a7e;
}
.mat-select-panel{

  overflow-y: clip;
  background-color: #b39a7e;
}
  

h1 {
  font-size: 3vw;
  
  font-family: unset;
} */
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.mat-autocomplete-panel .mat-option.mat-selected {
  color: #fafafa;
}

.mat-autocomplete-panel .mat-option.mat-selected{
  background: #b39a7ede;
}
