
<!-- <div [@display]="isOpen[1] ? 'block' : 'none'" class="divImg fade"><img class="img" src="/assets/image/מעבר דירה/מעבר-עם-ילדים-2.jpg"></div> -->
<!-- <div [@display]="isOpen[2] ? 'block' : 'none'" class="divImg fade"><img class="img" src="/assets/image/קניות/תכנון-אסטרטגי-880x462.png"></div> -->
<!-- <div [@display]="isOpen[3] ? 'block' : 'none'" class="divImg fade"><img class="img" src="/assets/image/אירועים/mexico-2673734_1280.jpg"></div> -->
<!-- <div [@display]="isOpen[4] ? 'block' : 'none'" class="divImg fade"><img class="img" src="/assets/image/אירועים/D6B7774.jpg"></div> -->
<div class="divImg"><img class="imgBackGround" src="/assets/image/{{img}}"></div>
<!-- [@display]="isOpen ? 'block' : 'none'" -->
<hr id="hr">