<h1><img id="logo1" src="/assets/image/לוגו/logowhite.jpg"> </h1>
<!-- <h1>cheap event - planning</h1> -->
<app-login></app-login>
<nav>
  <a mat-button routerLink="/">
    <span mat-button-wrapper>
      <img id="logo2" src="/assets/image/לוגו/logowhite.jpg">
    </span>
  </a>
  <a *ngIf="!user" mat-button routerLink="/signin">הרשמה לאתר</a>
  <a mat-button routerLink="/organize-event">ארגון אירוע</a>
  <a mat-button routerLink="/freeSearch">חיפוש חופשי</a>
  <a mat-button routerLink="/about">אודות</a>
  <a *ngIf="user" mat-button routerLink="/history">חיפושים אחרונים</a>
  <a mat-button routerLink="/shops">בעלי חנויות</a>
</nav>
<hr>
<!-- <button mat-button *ngIf="user" (click)="delete()">הפסקת שליחת המיילים</button> -->