/* .mat-raised-button{
    font-family: Guttman-CourMir;
    font-size: 14px;
    font-weight: 500;
    color: #D728CA;
    background: #000;
    box-sizing: border-box;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
   
    margin: 10px;   
    margin-right: 180px;
} */
input[type="text"]{
    color:#ffff;
    background-color: #d728ca00;
      width: 15%;
      /* font-family: Guttman-CourMir; */
      padding: 10px;
      font-optical-sizing: 24;
      align-items: center;
      object-position: center;
      text-align: center;
      font-size: 20px;
      margin-right: 60px;
      margin-bottom: -10px;
}
ul{
    list-style-type: none;
    font-size: 30px;
    /* font-family: Guttman-CourMir; */
    
}
input[type="checkbox"] {
    width: 50px;
}
.mat-raised-button {
    margin-top: 0px;
    margin-right: 5%;
}
