/* .mat-raised-button{
    font-family: Guttman-CourMir;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    background: #d1bea9;
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
      margin-top: 15px;
      margin-right: 92px;
} */
/* form{
    margin: 20px;
} */
form{

    position: unset;
    /* background-color: #d1bea9; */
    margin: auto;
    padding: 0;
    /* border: 1px solid #888; */
    width: 50%;
    color: #ffffff;
    /* font-family: Guttman-CourMir; */
    font-size: 14px;
    font-weight: 500;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); */
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    align-items: center;
    object-position: center;
    text-align: center;
    padding: 11px;
    
}
.mat-raised-button {
  margin-top: 10px;
    right: 45px;
}
/* input{
  color: rgb(0 0 0 / 87%);
  background-color: #d728ca00;
    width: 146px;
    padding: 10px;
    font-optical-sizing: 24;
    align-items: center;
    object-position: center;
    text-align: center;
} */
h1{
  font-size: 46px;
    font-family: unset;
}
label{
    display: block;
    font-size: 16px;
    text-align: center;
    padding: 9px;
}
/* div{
  display: block; /* Hidden by default */
  /* position: fixed; Stay in place */
  /* z-index: 1; Sit on top */
  /* padding-top: 100px; Location of the box */
  /* left: 0; */
  /* top: 0; */
  /* width: 100%; Full width */
  /* height: 100%; Full height */
  /* overflow: auto; Enable scroll if needed */
  /* background-color: rgb(0,0,0); Fallback color */
  /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
/* } */ 
/* .div-content {
  position: relative;
  background-color: black;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
} */
