<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
       כניסה
      </div>
  
      <!-- Login Form -->
      <form [formGroup]="loginForm">
        <input type="text" formControlName="userName" class="fadeIn second" name="userName" placeholder="שם משתמש">
        <input type="text" formControlName="password" class="fadeIn third" name="login" placeholder="סיסמא">
        <input type="submit" class="fadeIn fourth" value="כניסה">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>
