<h1 >Cheap Event - Planning </h1>
<nav>  
<a mat-button routerLink="/">
<span mat-button-wrapper>
  <img src="logo.png">
</span></a>
<a *ngIf="!user" mat-button routerLink="/signin" >הרשמה לאתר</a>
<a mat-button routerLink="/organize-event" >ארגון אירוע</a>
<a mat-button routerLink="/freeSearch" >חיפוש חופשי</a>
<a mat-button routerLink="/about" >אודות</a>
<a mat-button routerLink="/login" >חיפושים אחרונים</a>
</nav> 
<!-- ניסיתי שזה יהיה קבוצה למעלה אבל זה לא עובד
<mat-tab-group mat-align-tabs="start">
  <a mat-raised-button routerLink="/signin"><mat-tab label="First">הרשמה</mat-tab></a>
  <a mat-raised-button routerLink="/history"><mat-tab label="Second">הסטוריה</mat-tab></a>
  <a mat-raised-button routerLink="/login"><mat-tab label="Third">כניסה</mat-tab></a>
  <a mat-raised-button routerLink="/organize-event"><mat-tab label="Fourth">ארגון אירוע</mat-tab></a>
  <a mat-raised-button routerLink="/freeSearch"><mat-tab label="Fifth">חיפוש חופשי</mat-tab></a>
  </mat-tab-group>   -->

<!-- לא עובד לי איך משתמשים בזה
  <div class="example-ripple-container mat-elevation-z4"
     matRipple
     [matRippleCentered]="centered"
     [matRippleDisabled]="disabled"
     [matRippleUnbounded]="unbounded"
     [matRippleRadius]="radius"
     [matRippleColor]="color">
  Click me
</div> -->

