<!-- <input type="button" value="חיפוש חופשי" (click)="freeSearch(signin)"/>
<input type="button" value="ארגון אירוע" (click)="events(login)"/>
<input type="button" value="הרשמה" (click)="signin()"/> -->

<h1 >Cheap Event - Planning </h1>


<nav>  
<a mat-button href="/">
<span mat-button-wrapper>
  <img src="logo.png">
</span></a>
<a mat-button href="/signin" >הרשמה לאתר</a>
<a mat-button href="/organize-event" >ארגון אירוע</a>
<a mat-button href="/freeSearch" >חיפוש חופשי</a>
<a mat-button href="/about" >אודות</a>
<a mat-button href="/history" >חיפושים אחרונים</a>
</nav> 
<!-- ניסיתי שזה יהיה קבוצה למעלה אבל זה לא עובד -->
<!-- <mat-tab-group mat-align-tabs="start">
  <a mat-raised-button href="/signin"><mat-tab label="First">הרשמה</mat-tab></a>
  <a mat-raised-button href="/history"><mat-tab label="Second">הסטוריה</mat-tab></a>
  <a mat-raised-button href="/login"><mat-tab label="Third">כניסה</mat-tab></a>
  <a mat-raised-button href="/organize-event"><mat-tab label="Fourth">ארגון אירוע</mat-tab></a>
  <a mat-raised-button href="/freeSearch"><mat-tab label="Fifth">חיפוש חופשי</mat-tab></a>
  </mat-tab-group>   -->

<!-- <nav> -->
    <!-- <a routerLink="/signin"> הרשמה <br> </a>
     <a routerLink="/history"> הסטוריה <br> </a>
    <a routerLink="/login"> כניסה<br> </a>
    <a routerLink="/organize-event"> ארגון אירוע <br></a>
    <a routerLink="/freeSearch">  חיפוש חופשי <br></a> -->
<!-- </nav> -->
<!-- לא עובד לי איך משתמשים בזה -->
  <!-- <div class="example-ripple-container mat-elevation-z4"
     matRipple
     [matRippleCentered]="centered"
     [matRippleDisabled]="disabled"
     [matRippleUnbounded]="unbounded"
     [matRippleRadius]="radius"
     [matRippleColor]="color">
  Click me
</div> -->

