<!-- <input type="button" value="חיפוש חופשי" (click)="freeSearch(signin)"/>
<input type="button" value="ארגון אירוע" (click)="events(login)"/>
<input type="button" value="הרשמה" (click)="signin()"/> -->

<h1> שרה אור תעשי משהו בחיים שלך ותחשבי על שם לפרוייקט</h1>
<h2 >Cheap event planning </h2>

<nav>
    
    <a routerLink="/signin"> הרשמה <br> </a>

    <a routerLink="/login"> כניסה<br> </a>

    <a routerLink="/organize-event"> ארגון אירוע <br></a>

    <a routerLink="/freeSearch">  חיפוש חופשי <br></a>
    

  </nav>
