
element.style {
    --stage-right-margin: 0px;
    --stage-scrollbar-width: 17px;
    --stage-left: 60px;
}
.editor-layout-editing-area {
    position: relative;
    flex: 1 0 0;
    height: 100%;
}

*:not(input):not(textarea) {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a, abbr, acronym, address, applet, b, big, blockquote, body, button, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, footer, form, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, title, tr, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
div {
    display: block;
}
body {
    font-family: HelveticaNeueW01-55Roma,HelveticaNeueW02-55Roma,HelveticaNeueW10-55Roma,HelveticaNeueW31,Helvetica Neue,Helvetica,Arial,メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;
    font-family: var(--wbu-font-stack,HelveticaNeueW01-55Roma,HelveticaNeueW02-55Roma,HelveticaNeueW10-55Roma,HelveticaNeueW31,Helvetica Neue,Helvetica,Arial,メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif);
    font-weight: var(--wbu-font-weight-regular);
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
 style {
    --g-top-bar-height: 89px;
}
:root {
    --g-top-bar-height: 48px;
    --g-mobile-top: 59px;
    --g-mobile-bottom: 94px;
    --g-mobile-preview-max-height: 512px;
}
:root {
    --wix-font-stack: Madefor,"Helvetica Neue",Helvetica,Arial,"メイリオ","meiryo","ヒラギノ角ゴ pro w3","hiragino kaku gothic pro",sans-serif;
    --wix-font-weight-regular: 400;
    --wix-font-weight-medium: 530;
    --wix-font-weight-bold: 700;
    --wix-font-weight-xbold: 800;
}
:root {
    --wix-font-stack: Madefor,"Helvetica Neue",Helvetica,Arial,"メイリオ","meiryo","ヒラギノ角ゴ pro w3","hiragino kaku gothic pro",sans-serif;
    --wix-font-weight-regular: 400;
    --wix-font-weight-medium: 530;
    --wix-font-weight-bold: 700;
    --wix-font-weight-xbold: 800;
}
:root {
    --g-top-bar-height: 48px;
    --g-mobile-top: 59px;
    --g-mobile-bottom: 94px;
    --g-mobile-preview-max-height: 512px;
}
:root {
    --g-top-bar-height: 48px;
    --g-mobile-top: 59px;
    --g-mobile-bottom: 94px;
    --g-mobile-preview-max-height: 512px;
}
:root {
    --g-top-bar-height: 48px;
    --g-mobile-top: 59px;
    --g-mobile-bottom: 94px;
    --g-mobile-preview-max-height: 512px;
}
html {
    font-family: sans-serif;
}
.classic-facelift-skin .editor-layout-editing-area:before {
    z-index: 1450;
    content: "";
    position: absolute;
    left: 0;
    right: calc(var(--stage-right-margin) * -1);
    top: -30px;
    height: 30px;
    -webkit-clip-path: inset(30px 0 -20px 0);
    clip-path: inset(30px 0 -20px 0);
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 12%), 0 2px 10px 0 rgb(0 0 0 / 8%), 0 1px 20px 0 rgb(0 0 0 / 8%);
    pointer-events: none;
}