<div class="editor-layout-editing-area"
    style="--stage-right-margin:0px; --stage-scrollbar-width:17px; --stage-left:60px;">
    <div id="editingArea" class="editing-area new-mobile-editor-layout">
        <div class="preview-frame-cover">
            <div class="preview-container">
                <div id="previewPlaceholder"></div>
            </div>
            <div data-hook="editor-stage-container" id="stageContainer" class="editor-stage">
                <div id="scrollableEditorStage" class="scrollable-editor-stage main-thread-scroll">
                    <div class="scrollable-editor-stage-content" id="scrollableEditorStageContent"
                        style="transition: transform 400ms linear 0s;">
                        <div class="site-cover siteShadow" style="height: 1611px;">
                            <div class="gridLines"><svg class="gridLines">
                                    <line x1="0" y1="0" x2="0" y2="100%" class="backLine"></line>
                                    <line x1="980" y1="0" x2="980" y2="100%" class="backLine"></line>
                                    <line x1="0" y1="269" x2="100%" y2="269" class="backLine"></line>
                                    <line x1="0" y1="1443" x2="100%" y2="1443" class="backLine"></line>
                                    <line x1="0" y1="0" x2="0" y2="100%" class="frontLine"></line>
                                    <line x1="980" y1="0" x2="980" y2="100%" class="frontLine"></line>
                                    <line x1="0" y1="269" x2="100%" y2="269" class="frontLine"></line>
                                    <line x1="0" y1="1443" x2="100%" y2="1443" class="frontLine"></line>
                                </svg></div>
                            <div class="scalable">
                                <div class="parentSizeAbs mouseCatcher">
                                    <div class="overlay"></div>
                                    <div class="add-section-container" style="top: 0px; height: 269px;">
                                        <div><span class="has-tooltip ">
                                                <div data-aid="add-section-button"
                                                    class="add-section-button position-bottom"><svg width="10"
                                                        height="10" viewBox="0 0 10 10" class="symbol symbol-plus10px">
                                                        <path fill="#FFF" fill-rule="evenodd"
                                                            d="M6 0v4h4v2H6v4H4V6H0V4h4V0h2z"></path>
                                                    </svg></div>
                                            </span></div>
                                    </div>
                                    <div></div>
                                    <div class="anchors-container"></div>
                                </div>
                                <div class="" style="visibility: hidden;">
                                    <div>
                                        <div class="rich-text-content">
                                            <div style="visibility: hidden; display: none;"></div>
                                            <div id="cke_editor1"
                                                class="cke_1 cke cke_reset cke_chrome cke_editor_editor1 cke_ltr cke_browser_webkit"
                                                dir="ltr" lang="en" role="application"
                                                aria-labelledby="cke_editor1_arialbl" style=""><span
                                                    id="cke_editor1_arialbl" class="cke_voice_label">Rich Text Editor,
                                                    editor1</span>
                                                <div class="cke_inner cke_reset" role="presentation">
                                                    <div id="cke_1_contents" class="cke_contents cke_reset"
                                                        role="presentation"><iframe src="" frameborder="0"
                                                            class="cke_wysiwyg_frame cke_reset"
                                                            style="width: 100%; height: 100%;"
                                                            title="Rich Text Editor, editor1" tabindex="0"
                                                            allowtransparency="true"></iframe></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="visibility: hidden;">
                                    <div>
                                        <div class="rich-text-content">
                                            <div style="visibility: hidden; display: none;"></div>
                                            <div id="cke_editor2"
                                                class="cke_2 cke cke_reset cke_chrome cke_editor_editor2 cke_ltr cke_browser_webkit"
                                                dir="ltr" lang="en" role="application"
                                                aria-labelledby="cke_editor2_arialbl" style=""><span
                                                    id="cke_editor2_arialbl" class="cke_voice_label">Rich Text Editor,
                                                    editor2</span>
                                                <div class="cke_inner cke_reset" role="presentation">
                                                    <div id="cke_2_contents" class="cke_contents cke_reset"
                                                        role="presentation"><iframe src="" frameborder="0"
                                                            class="cke_wysiwyg_frame cke_reset"
                                                            style="width: 100%; height: 100%;"
                                                            title="Rich Text Editor, editor2" tabindex="0"
                                                            allowtransparency="true"></iframe></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="language-change-overlay">
                                    <div class="preloader">
                                        <div class="control-preloader medium"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="non-scalable"></div>
                        </div>
                    </div>
                </div>
                <div class="fixed-editor-stage" style="width: calc(100% - 17px);">
                    <div class="fixed-editor-stage-contents-wrapper ">
                        <div class="scalable"></div>
                        <div class="non-scalable">
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="opened-panels">
            <div></div>
        </div>
    </div>
</div>