.mat-raised-button, button{
  font-size: 1vw;
  font-weight: 500;
  color: #ffff;
  background: #cab8a1;
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  width: 6vw;
  line-height: 3vw;
  padding: 0;
  border-radius: 4px;
  overflow: visible;
  margin-top: 15px;
  margin-right: 10vw;  
}

form {
  position: relative;
  background-color: #fffff5;
  border-radius: 100px;
  margin: auto;
  padding: 0;
  width: 40vw;
  height: 30vw;
  color: #b39a7e;
  border: #b39a7e;
  border-style: double;
  border-width: 10px;
  font-family: Guttman-CourMir;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  align-items: center;
  object-position: center;
  text-align: center;
  padding: 11px;
}

div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

input {
  background-color: #cab8a1;
  font-size: 2vw;
  width: 15vw;
  height: 2vw;
  object-position: center;
}

h1 {
  font-size: 3vw;
  color: #b39a7e;
  font-family: unset;
}

p {
  font-size: 1.4vw;
}

div {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

a {
  font-family: Guttman-CourMir;
  background-color: #fffff500;
  color: #b39a7e;
}

@media only screen and (max-width: 600px) {
  form {
    height: 60vw;
  }
}
/* @media only screen and (max-width: 1200px) {
  form {
    height: 36vw;
  } */
  /* a{
    background-color: #fffff5;
  } */
/* } */