<ul >
  <li *ngFor="let item of arr">{{item.Product}}
    <!-- <p *ngFor="let i of {{item.Product}}">{{i.Name}}</p> -->
  </li>
</ul>     
<!-- <table mat-table [dataSource]="arr" class="mat-elevation-z8">
   יש לי שגיאה: -->
  <!-- לא ניתן להיקשר ל- 'dataSource' מכיוון שהוא אינו מאפיין ידוע של 'טבלה'. -->
  <!-- זה לא מאפיין של טבלה אבל זה אמור להיות מאפיין של המטריאל וכך הוא שולח לקומפוננטה שלו כמו עם אינפוט -->

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <!-- <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
  </ng-container>-->

  <!-- Name Column -->
  <!-- <ng-container matColumnDef="Description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
  </ng-container> -->

  <!-- Weight Column -->
  <!-- <ng-container matColumnDef="ProdDate">
    <th mat-header-cell *matHeaderCellDef> ProdDate </th>
    <td mat-cell *matCellDef="let element"> {{element.ProdDate}} </td>
  </ng-container> -->

  <!-- Symbol Column -->
  <!-- <ng-container matColumnDef="Picture">
    <th mat-header-cell *matHeaderCellDef> Picture </th>
    <td mat-cell *matCellDef="let element"> {{element.Picture}} </td>
  </ng-container> -->

  <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
<!-- </table> -->