<!-- <app-header></app-header> -->
<!-- <app-login></app-login>
<app-signin></app-signin> -->
<!-- <nav>
    <ul>
        <li routerLink="login" routerLinkActive="active"><a>Login</a></li>
        <li routerLink="signin" routerLinkActive="active"><a>Signin</a></li>
    </ul>
</nav> -->
<!-- <router-outlet></router-outlet> -->

<app-free-search></app-free-search>
<app-products-found></app-products-found>
<app-home-page></app-home-page>
<app-organize-event></app-organize-event>
<router-outlet></router-outlet>
