<form [formGroup]="form">
<input formControlName="ProductName" type="text" placeholder="מוצר לחיפוש..." /><!-- [(ngModel)]="nameInput" -->
</form>
<button mat-raised-button routerLink="product-found" (click)="search(false)">חיפוש</button>
<button mat-raised-button routerLink="/update-mail/{{message}}/{{searchName}}" (click)="search(true)">עדכון במייל</button>
<h3 *ngIf="!user">אינך רשום, שים לב החיפוש לא ישמר בהיסטוריית החיפושים</h3>
<app-products-found *ngIf="srch" [arr]="arr"></app-products-found>

