<h1>בעל חנות? יש לך מוצרים בזול? </h1>
<h2>אצלנו המוצרים שלך יכנסו להשוואת המחירים ואם הם באמת יהיו זולים כולם יקנו ממך</h2>
<h3>פרטי החנות:</h3>
<form [formGroup]="form" (ngSubmit)="save()">
<p>שם החנות:</p>
<input formControlName="Name"/>  
<p>עיר:</p>
<input formControlName="CityId"/>  
<p>מספר טלפון:</p>
<input formControlName="Phone"/>
<br>
<br>
<button mat-raised-button type="submit"  [disabled]="!form.valid">שליחה</button>
</form>
<p>לאיזו קטגוריה המוצר שייך?</p>
<ul>
    <li *ngFor="let item of arr"><a mat-button routerLink="product-detail-shop/{{item.Id}}">{{item.Name}}</a></li> 
</ul>
