        <h1>בעל חנות? יש לך מוצרים בזול? </h1>
        <h2>אצלנו המוצרים שלך יכנסו להשוואת המחירים ואם הם באמת יהיו זולים כולם יקנו ממך</h2>
        <h3>פרטי החנות:</h3>
        <form [formGroup]="form" (ngSubmit)="save()">
            <p>שם החנות:</p>
            <input formControlName="Name" />
            <p>עיר:</p>
            <input formControlName="CityName" />
            <!-- <input [(ngModel)]="City.Name" [ngModelOptions]="{standalone: true}" /> -->
            <p>מספר טלפון:</p>
            <input formControlName="Phone" />
            <br>
            <br>
            <button mat-raised-button type="submit" [disabled]="!form.valid">שליחה</button>
        </form>
        <br>
        <a mat-raised-button routerLink="/edit-product-shops/shop.shopId">הוספת מוצר</a>
        <a mat-raised-button routerLink="/update-product-shops">עדכון מוצר</a>
