
<ul>
  <li *ngFor="let item of arr">
    <div class="divEvent">
    <!-- <a mat-button routerLink="/product-found/item.Product?.Id"> -->
    <img src="/assets/image/{{item.Product?.Picture}}">
    <button *ngIf="user" mat-raised-button routerLink="/update-mail/{{message}}/{{item.Product?.Name}}">עדכון במייל</button>
    <br>
    {{item.Product?.Name}}
    <br>
    {{item.Product?.Description}}
    <table>
      <tr>
        <th>חנות</th>
        <th>מחיר</th>
        <th>תאריך ייצור</th>
        <th>עיר</th>
        <th>טלפון</th>
      </tr>
      <tr *ngFor="let item2 of arr; index as i">
        <td *ngIf="item.Product?.Id==item2.Product?.Id">{{item2.Shop?.Name}}</td>
        <td *ngIf="item.Product?.Id==item2.Product?.Id">{{item2.Price}}</td>
        <td *ngIf="item.Product?.Id==item2.Product?.Id">{{item2.ProdDate}}</td>
        <td *ngIf="item.Product?.Id==item2.Product?.Id">{{item2.Shop?.CityName}}</td>
        <td *ngIf="item.Product?.Id==item2.Product?.Id">{{item2.Shop?.Phone}}</td>
      </tr>
    </table>
    </div>
  </li>
</ul>


<!-- <p *ngIf="isa">לא נמצאו תוצאות </p>
<table mat-table *ngIf="!isa" [dataSource]="arr" class="mat-elevation-z8">

  <ng-container matColumnDef="Shop">
    <th mat-header-cell *matHeaderCellDef> חנות </th>
    <td mat-cell *matCellDef="let element"> {{element.Shop?.Name}}

  <ng-container matColumnDef="City">
    <th mat-header-cell *matHeaderCellDef> עיר </th>
    <td mat-cell *matCellDef="let element"> {{element.Shop?.City?.Name}} </td>
  </ng-container>

  <ng-container matColumnDef="Phone">
    <th mat-header-cell *matHeaderCellDef> טלפון </th>
    <td mat-cell *matCellDef="let element"> {{element.Shop?.Phone}} </td>
  </ng-container>

  <ng-container matColumnDef="Price">
    <th mat-header-cell *matHeaderCellDef> מחיר </th>
    <td mat-cell *matCellDef="let element"> {{element.Price}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->