    <h1>{{categoryName}}</h1>
    <!-- <table mat-table [dataSource]="arr" class="mat-elevation-z8">
      איך לעשות שהקישור יהיה על כל השורה ולא רק על כל תא
      <a mat-button routerLink="/freeSearch/{{element.Name}}"> -->
      <!-- </a> 

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> שם </th>
        <td mat-cell *matCellDef="let element"> 
          <a mat-button routerLink="/freeSearch/{{element.Name}}">{{element.Name}}</a> 
        </td>
      </ng-container>

      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef> תיאור </th>
        <td mat-cell *matCellDef="let element">
          <a mat-button routerLink="/freeSearch/{{element.Name}}"> {{element.Description}}</a>
         </td>
      </ng-container>

      <ng-container matColumnDef="Picture">
        <th mat-header-cell *matHeaderCellDef> תמונה </th>
        <td mat-cell *matCellDef="let element"> 
          <a mat-button routerLink="/freeSearch/{{element.Name}}">
          <img src="/assets/image/{{element.Picture}}"></a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> -->
    <!-- <table class="table table-striped" dir="rtl">
      <thead>
        <tr>
          <th scope="col">חנות</th>
          <th scope="col">עיר</th>
          <th scope="col">טלפון</th>
          <th scope="col">מחיר</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of arr">
          <td>{{item.Name}}</td>
          <td>{{item.Description}}</td>
          <td>{{item.ProdDate}}</td>
          <td><img src="/assets/image/{{item.Picture}}"></td>
          </tr>
      </tbody>
    </table> -->
    <ul>
      <li *ngFor="let item of arr">
        <div class="divEvent">
        <a mat-button routerLink="/freeSearch/{{item.Name}}">
        <img src="/assets/image/{{item.Picture}}">
        <br>
        {{item.Name}}
        <br>
        {{item.Description}}
      </a>
        </div>
      </li>
    </ul>