<h1>{{categoryName}}</h1>
<!-- <table mat-table [dataSource]="arr" class="mat-elevation-z8">
      איך לעשות שהקישור יהיה על כל השורה ולא רק על כל תא
      <a mat-button routerLink="/freeSearch/{{element.Name}}"> -->
<!-- </a> 

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> שם </th>
        <td mat-cell *matCellDef="let element"> 
          <a mat-button routerLink="/freeSearch/{{element.Name}}">{{element.Name}}</a> 
        </td>
      </ng-container>

      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef> תיאור </th>
        <td mat-cell *matCellDef="let element">
          <a mat-button routerLink="/freeSearch/{{element.Name}}"> {{element.Description}}</a>
         </td>
      </ng-container>

      <ng-container matColumnDef="Picture">
        <th mat-header-cell *matHeaderCellDef> תמונה </th>
        <td mat-cell *matCellDef="let element"> 
          <a mat-button routerLink="/freeSearch/{{element.Name}}">
          <img src="/assets/image/{{element.Picture}}"></a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> -->

<ul>
  <li *ngFor="let item of arr">
    <div class="divEvent">
      <!-- <a mat-button routerLink="/freeSearch/{{item.Name}}"> -->
        <img mat-button src="/assets/image/{{item.Picture}}">
        <button *ngIf="user" mat-raised-button routerLink="/update-mail/{{message}}/{{item.Name}}">עדכון
          במייל</button>
        <br>
        {{item.Name}}
      <!-- </a> -->
      <br>
      <a mat-button (click)="none(item.Id)">השוואת מחירים</a>
      <div (click)="none(-1)" *ngIf="myVar>0&&myVar==item.Id" class="fadeInDown">
        <table>
          <tr>
            <th>חנות</th>
            <th>מחיר</th>
            <th>תיאור</th>
            <th>עיר</th>
            <th>טלפון</th>
          </tr>
          <tr *ngFor="let item2 of item.ProductInShops; index as i">
            <td>{{item2.Shop?.Name}}</td>
            <td>{{item2.Price}}</td>
            <td>{{item2.Description}}</td>
            <td>{{item2.Shop?.CityName}}</td>
            <td>{{item2.Shop?.Phone}}</td>
          </tr>
        </table>
      </div>
    </div>
  </li>
</ul>