    table {
        width: 90vw;
        text-align-last: center;
        font-size: 2.5vw;
        direction: rtl;
        border: groove;
        background-color: rgb(209 190 169);
        margin: auto;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
    }

    img {
        width: 22vw;
        height: 18vw;
        object-fit: cover;
        border-radius: 15px;
    }

    .divEvent {
        width: 22vw;
        border: groove;
        margin: 2px;
        font-size: large;
        color: white;
        border-radius: 15px;
        align-items: center;
        padding: 3px;
    }

    .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-raised-button {
        box-sizing: border-box;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        outline: none;
        border: none;
        -webkit-tap-highlight-color: transparent;
        display: inline-block;
        white-space: nowrap;
        text-decoration: none;
        vertical-align: baseline;
        text-align: center;
        margin: 0px;
        width: 7vw;
        min-width: 64px;
        line-height: 36px;
        padding: 0px;
        border-radius: 4px;
        overflow: visible;
        /* display: block; */
    }

    @-webkit-keyframes fadeInDown {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }

        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }

    @keyframes fadeInDown {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }

        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }

    .fadeInDown {
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        min-height: 100%;
        display: block;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: #00000017;
        /* Black w/ opacity */
    }