h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}

.div1 {
    background-color: #b39a7e;
    min-height: 753px;
    width: 80%;
    margin: auto;
    margin-bottom: -18px;
}
li{
    display: flex;
    width: 32%;
    text-align: center;
}

input {
    font-family: Calibri;
    color: #ffff;
    background-color: #d728ca00;
    font-size: 1.5vw;
    width: 13vw;
    padding: 0.5vw;
    height: 2.5vw;
    font-optical-sizing: 24;
    align-items: center;
    object-position: center;
    text-align: center;
}

body {
    direction: rtl;
    background-color: #d1bea9;
    font-family: Calibri;
    height: 100%;
    margin: 0px;
}

.mat-raised-button, .mat-button {
    /* font-family: Guttman-CourMir; */
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    background: #b39a7e;
    box-sizing: border-box;
    font-family: Calibri;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    margin-top: 15px;
    margin-right: 92px;
}