<h1>CE-P עוזר לך לתכנן את האירוע שלך במחיר הזול ביותר!!!</h1>
<h3>   קורה לנו שאנו לפני ארגון אירוע כמו של חתונה </h3>
 <h3>  ואנחנו רוצים להיות מוכנים ולצאת בזול עם אירוע מושלם </h3>
 <h3>  ולדעת שיש לנו את כל הדברים שאנחנו צריכים לאירוע</h3>
   <h3>  אז כן, בדיוק בשביל הדילמה הזאת נבנה האתר שלנו-</h3> 
     <h3>   האתר שלנו מאפשר לכל משתמש לראות את כל הרשימה של המוצרים שהוא זקוק להם בשביל אותו אירוע מסויים שהוא רוצה לארגן 
        ומראה לו את המוצרים שהוא זקוק להם במחירים הזולים ביותר ולמשתמש נשאר רק לבחור 
       חוץ מאופציה של אירגון אירועים יש למשתמש אופציה של חיפוש חופשי 
       שבו הוא יכול לחפש מוצרים ולראותם מוצגים במחיר הזול ביותר כדי לעזור למשתמש לבצע את קנייתו בזול.

</h3>